
<div class="container-xxl py-5 bg-dark hero-header mb-5">
  <div class="container my-5 py-5">
    <div class="row align-items-center g-5">
      <div class="col-lg-6 text-center text-lg-start">
        <div class="card" style="width:30rem;margin-bottom:10px;align-items:center;justify-content: center;" *ngFor="let recette of recettes"> 
         
        	<app-recette-item [recettesItem]="recette"> </app-recette-item>
            
           
            
    <!-- Fin de toutes les cartes -->
                    </div>
                </div>
              </div>
            </div>
        </div>